// Hue.scss
.color-picker-hue {
  box-sizing: border-box;
  border-left: 4px solid #f00;
  border-right: 4px solid #f00;

  .hue {
    @include full();
    background: linear-gradient(
      to right,
      #f00 0%,
      #ff0 16.66%,
      #0f0 33.33%,
      #0ff 50%,
      #00f 66.66%,
      #f0f 83.33%,
      #f00 100%
    );

    .hue-thumb {
      position: absolute;
      width: 8px;
      height: 100%;
      background-color: #fff;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
      transform: translateX(-4px);
    }
  }
}
