// Saturation.scss
.color-picker-saturation {
  @mixin saturation-pseudo-element {
    @include full();
    content: '';
    position: absolute;
  }

  .saturation {
    @include full();
    background: transparent;
    cursor: crosshair;

    &::before {
      @include saturation-pseudo-element();
      background: linear-gradient(to right, white, transparent);
    }
    &::after {
      @include saturation-pseudo-element();
      background: linear-gradient(to top, black, transparent);
    }

    .saturation-thumb {
      position: absolute;
      transform: translate(-10px, -8px);
      z-index: 1;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid;
      background-color: transparent;
    }
  }
}
